/* style.css */
nav {
    background-color: aquamarine;
    font-family: Arial;
    justify-content: space-between;
    padding: 10px,30px;
}


nav li {
    display: inline-block;
    margin: 20px;
    font-size: large;
    font-weight: bold;
    background-color: lightblue
}

nav a {
    text-decoration: none;
    color: black;
    background-color: lightblue;
    padding: 10px 15px;
}